<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>編集画面 - メモくん Memo.app</title>
  <meta name="description" content="メモくんのメモ編集画面です。">
  <meta name="keywords" content="メモ,メモアプリ,メモメモくん,買い物メモ,予定リスト,予定メモ">

  <link rel="stylesheet" href="/css/mystyle.css">
  <link rel="stylesheet" href="/css/memo_content.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>編集画面 - メモくん Memo.app</h1>
    </header>

    <article>
      <form action="/edit/post/<%= edit_id %>" method="post" id="edit">
        <label>
          <input type="text" name="edit_memoTitle" id="memoTitle" placeholder="<%= edit_data[0] %>" value="<%= edit_data[0] %>" maxlength="20">
          <textarea name="edit_memoContent" id="memoTextArea" cols="18" rows="10" placeholder="<%= edit_data[1] %>" maxlength="200"><%= edit_data[1] %></textarea>
          <input type="submit" value="編集する" class="submit_btn edit_btn">
        </label>
      </form>

</body>
</html>
