<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモくん - Memo.app</title>
  <meta name="description" content="メモくんは、日常のちょっとしたことをメモするWEBアプリです。">
  <meta name="keywords" content="メモ,メモアプリ,メモメモくん,買い物メモ,予定リスト,予定メモ">

  <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>メモくん - Memo.app</h1>
      <p>ちょっとしたメモに使えます！</p>
    </header>

    <article>
      <form action="/create" method="post" id="create">
        <label>
          <textarea name="memoContent" id="memoTextArea" cols="20" rows="10" placeholder="メモを入力してください(200文字以内)" maxlength="200" form="create"></textarea>
          <input type="submit" value="作成する" class="submit_btn" form="create">
        </label>
      </form>
      <div id="countText"></div>

      <div class="memoWrapp">
        <% memos.forEach((memo) => { %>
        <div class="memo">
          <form action="/delete/<%= memo.id %>" method="post" id="delete_<%= memo.id %>">
            <input type="submit" class="delete_btn" value="×" form="delete_<%= memo.id %>">
            <label form="delete">
              <pre><%= memo.content %></pre>
              <a href="<%= memo.id %> " class="openMemo">メモを開く</a>
            </label>
          </form>
        </div>
        <% }); %>
      </div>
    </article>
  </div>

  <script>

    // 50文字以下の場合省略する
    function omitContent(string) {
      const MaxLength = 50, //表示する文字数

        //div.memoの高さを取得
        memoElement = document.getElementsByClassName('memo'),
        divMemoSize = memoElement.scrollHeight,

        //preタグの高さを取得
        preElement = document.getElementsByTagName('pre'),
        preSize = preElement.scrollHeight;

      // 取得できていないようだ…。
      // ここを解決しないと次に進めない
      console.log(preSize);
      console.log(divMemoSize);

      // 50文字を超えた場合、超えた分を省略する処理
      if (string.length > MaxLength) {
        return string.substr(0, MaxLength) + '...';
      }
      //削除の処理がおかしくなるため、一旦コメントアウト

      // // preタグの高さがdiv.memoを超えたら発動
      // else if (preSize > divMemoSize) {
      //   return string.substr(0, 3) + '...';
      // }

      // 50文字以内ならそのまま表示
      return string;
    }

    // 関数を実行するための処理

    // preタグをすべて読み込み
    const contents = document.querySelectorAll('pre');

    // preタグを一つずつ処理
    contents.forEach(content => {
      content.textContent = omitContent(content.textContent);
    });

  </script>
</body>
</html>
