<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモくん - Memo.app</title>
  <meta name="description" content="メモくんは、日常のちょっとしたことをメモするWEBアプリです。">
  <meta name="keywords" content="メモ,メモアプリ,メモメモくん,買い物メモ,予定リスト,予定メモ">

  <link rel="stylesheet" href="/css/mystyle.css">
  <link rel="stylesheet" href="/css/memo_content.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>メモくん - Memo.app</h1>
      <p>ちょっとしたメモに使えます！</p>
    </header>

    <article>
      <form action="/create" method="post" id="create">
          <input type="text" name="memoTitle" id="memoTitle" placeholder="タイトルを入力してください(任意)" maxlength="20">
          <textarea name="memoContent" id="memoTextArea" cols="18" rows="10" placeholder="メモを入力してください(必須 200文字以内)" maxlength="200" form="create"></textarea>
          <input type="submit" value="作成する" class="submit_btn" form="create">
      </form>

    <div class="memoWrap" id="js-memoWrap">
      <% memos.filter((memo) => { %>
      <div class="memo">
          <h3 id="title_<%= memo.memo_id %>"><%= memo.content[0] %></h3>
          <div class="delete_btn">×</div>
          <div id="content_<%= memo.memo_id %>" class="smallMemoContent"><%= memo.content[1] %></div>
        <div id="open_<%= memo.memo_id %>" class="openMemo">
          <span class="writeTime"><%= String(memo.content[2]).replace('登録日：', '').replace('更新日：', ''); %></span>
          <span class="openBtn">メモを開く</span>
        </div>
      </div>
      <% }); %>
    </div>

    <div class="test">★★★★★<br>★★★★★</div>

    <%- include('memo_content') %>
    
    <script src="js/main.js"></script>

  </body>
</html>
