<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモくん - Memo.app</title>
  <meta name="description" content="メモくんは、日常のちょっとしたことをメモするWEBアプリです。">
  <meta name="keywords" content="メモ,メモアプリ,メモメモくん,買い物メモ,予定リスト,予定メモ">

  <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>メモくん - Memo.app</h1>
      <p>ちょっとしたメモに使えます！</p>
    </header>

    <article>
      <form action="/create" method="post" id="create">
        <label>
          <textarea name="memoContent" id="memoTextArea" cols="20" rows="10" placeholder="メモを入力してください(200文字以内)" maxlength="200" form="create"></textarea>
          <input type="submit" value="作成する" class="submit_btn" form="create">
        </label>
      </form>
      <div id="countText"></div>

      <div class="memoWrapp">
        <% memos.filter((memo) => { %>
        <div class="memo">
          <form action="/delete/<%= memo.id %>" method="post" id="delete_<%= memo.id %>">
            <input type="submit" class="delete_btn" value="×" form="delete_<%= memo.id %>">
            <label form="delete">
              <div><%= memo.content %></div>
              <span id="/memo/<%= memo.id %>" class="openMemo">メモを開く</span>
            </label>
          </form>
        </div>
        <% }); %>

        <script src="js/omitContent.js"></script>

</body>
</html>
